extends layout

block content
  div(class='navbar-menu')
    nav
      form(id='form', method='post', action='/PAGETYP_submit')
        ul(style='list-style-type:none')
          li
            button(type='button', value='eyes', id='EYESADD') +
          li
            button(type='button', value='nose', id='NOSEADD') +
          li
            button(type='button', value='mouth', id='MOUTHADD') +
        label Avatar:
        br
        input(type='image', id='avatar', name='avatar', src="https://api.adorable.io/avatars/face/eyesEYEVAL/noseNOSEVAL/mouthMOUTHVAL/000")
        br
        input(type='range', value='0', id='R_VALUE', min='0', max='15', step="1")
        br    
        input(type='range', value='0', id='G_VALUE', min='0', max='15', step="1")
        br
        input(type='range', value='0', id='B_VALUE', min='0', max='15', step="1")
        ul(style='list-style-type:none')
          li
            button(type='button', value='eyes', id='EYESSUB') -
          li
            button(type='button', value='nose', id='NOSESUB') -
          li
            button(type='button', value='mouth', id='MOUTHSUB') -
        label Username:
        input(type='text', name='username')
        label Password:
        input(type='text', name='password')
        label User-Level:
        select(type='dropbox', name='user_level', value='user_level_val')
          option(value='user', type='text') User
          option(value='admin', type='text') Admin
        br
        label Email:
        br
        input(type='text', name='email')
        br
        label Age:
        br
        input(type='text', name='age')
        br
        input(type='submit', id='submit', value='Finish!')