
doctype html
html
  head
    title Edit
  body
    h3 Name Entry
    form(id='form', method='post', action='/edit_submit')
      label Username:
      br
      input(type='text', name='username')
      br
      label Password:
      br
      input(type='text', name='password')
      br
      label Avatar:
      br
      ul(style='list-style-type:none')
        li
          button(type='button', value='eyes', id='EYESADD') +
        li
          button(type='button', value='nose', id='NOSEADD') +
        li
          button(type='button', value='mouth', id='MOUTHADD') +
      br
      img(id='avatar', name='avatar', src="https://api.adorable.io/avatars/face/eyesEYEVAL/noseNOSEVAL/mouthMOUTHVAL/fff", value=src, height="100" width="100")
      br
      input(type='range', value='127', id='R_VALUE', min='0', max='15')
      br
      input(type='range', value='127', id='G_VALUE', min='0', max='15')
      br
      input(type='range', value='127', id='B_VALUE', min='0', max='15')
      br
      ul(style='list-style-type:none')
        li
          button(type='button', value='eyes', id='EYESSUB') -
        li
          button(type='button', value='nose', id='NOSESUB') -
        li
          button(type='button', value='mouth', id='MOUTHSUB') -
      br
      label User-Level:
      br
      select(type='dropbox', name='user_level', value='user_level_val')
        option(value='user', type='text') User
        option(value='admin', type='text') Admin
      br
      label Email:
      br
      input(type='text', name='email')
      br
      label Age:
      br
      input(type='text', name='age')
      br
      input(type='submit', value='submit', id='submit')