<!DOCTYPE html>
<html>
    <head class="top">
        <link href="style.css" rel="stylesheet">
        <font size="40px">
        Home Page
        </font>
    </head>
    <div class="container">
            <img src="C:\Users\Sasuke-Joseph\Pictures\slycooper.png" alt="Avatar" style="width:100%;">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>
          
          <div class="container darker">
            <img src="C:\Users\Sasuke-Joseph\Pictures\Crash Crate\crashcrate.png" alt="Avatar" class="right" style="width:100%;">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>
          
          <div class="container">
            <img src="C:\Users\Sasuke-Joseph\Pictures\slycooper.png" alt="Avatar" style="width:100%;">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>
          
          <div class="container darker">
            <img src="C:\Users\Sasuke-Joseph\Pictures\Crash Crate\crashcrate.png" alt="Avatar" style="width:100%;">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>
    <body>
        <script src='script.js'></script>
    </body>
</html>