extends layout

block content
  h2(style="text-align: center;") Welcome to Message Board
  div
    
    input(type='text', name='message_text', style="width: 100%;margin: auto;height: 30px;")
  div
  div
