extends layout
block links
    link(href="style.css" rel="stylesheet")

doctype html
    html
        head
            body
                script(src="home.js")
                div id="displayBox" content="Message Board"
