doctype html
html
  head
    title #{title}
    Link(href='style.css' rel='stylesheet')
  body
    div(class='navbar-menu')
      nav
        a(id='home', class="button", href="/") Home
        if loggedIn
          a(id='admin', class="button", href="/admin") Admin
          a(id='edit', class="button", href="/edit") Account
        else
          a(id='login', class="button", href="/login") Login
          a(id='register', class="button", href="/register") Register



    header
     h1(style="text-align: center;") #{title} 
  block content
footer